@charset "utf-8"; 
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css); 

/* //////////////////////////////////////////////////////////////
//common
/////////////////////////////////////////////////////////////////*/
.sub_fade{overflow: hidden;position: relative;text-align: left;opacity: 0;filter: alpha(opacity=0);transition:.7s;transform: translateY(50px);}
.sub_fade.fadeInUp{opacity: 1;filter: alpha(opacity=100);transform: translate(0);}

/* 서브페이지 상단 메뉴 */
/* location */
.subpage { padding-top:100px; min-height:700px;}
.subpage .loc_wrap{ background-color:#f7f7f7; position:relative; left:0; top:0; right:0px; margin-bottom:40px; border-bottom:1px solid #ccc;}
.subpage .loc_wrap.fixed{ top:0px; position:fixed; z-index:9}
.subpage .loc_wrap .loc_cont{ max-width:1200px; margin:0 auto; color:#fff; height:54px; position:relative; }
.subpage .loc_wrap .loc_cont .home  { float:left; border-left:1px solid #ccc; border-right:1px solid #ccc; height:14px; width:17px; text-indent:-9999px; overflow:hidden;  display:block; opacity:1;  padding:20px 20px;}
.subpage .loc_wrap .loc_cont .home a { display:block; background:url(../images/contents/home.png) 0 0 no-repeat; width:20px; height:20px; }
.subpage .loc_wrap .loc_cont .link { position:relative; float:left; width:200px; cursor:pointer;}
.subpage .loc_wrap .loc_cont .link p {line-height:54px; padding-left:19px; border-right:1px solid #ccc; background-color:#f7f7f7; font-weight:bold; font-size:15px; color:#000;}
.subpage .loc_wrap .loc_cont .link p:after {content:''; background:url(../images/contents/bt_arr.png) 0 0 no-repeat; width:12px; height:8px; position:absolute; right:19px; top:24px}
.subpage .loc_wrap .loc_cont .link .ct { position:absolute; left:-1px; right:0; top:53px; height:0px; background:#fff;   z-index:1; display:none; }
.subpage .loc_wrap .loc_cont .link  ul{ border:1px solid #aaa; box-sizing: border-box; padding:9px 0 11px 0; background-color:#fff;}
.subpage .loc_wrap .loc_cont .link  ul li a{ color:#666666; display:block; padding:8px 0 7px 19px}
.subpage .loc_wrap .loc_cont .link  ul li a:hover,
.subpage .loc_wrap .loc_cont .link  ul li a:focus{ color:#ff8601; font-weight:bold;}
.sub_head { position:relative; margin-bottom:15px;}
.sub_head h3.c_tit { font-size:40px; font-family:'NanumSquare';  transition-duration:.6s ease-in-out; text-align:left; }
.sub_head .prevPage { text-indent:-9999em; background:url(../images/contents/sub_arr.gif) 0 0 no-repeat; width:37px; height:37px; display:inline-block; position:absolute;}
.sub_head .prevPage:hover {background-position: 0 -38px;}
.sub_head .nextPage {text-indent:-9999em; background:url(../images/contents/sub_arr.gif) -38px 0 no-repeat; width:37px; height:37px; display:inline-block; position:absolute; right:0; top:0;}
.sub_head .nextPage:hover {background-position: -38px -38px;}
.nodata { background:url(../images/common/nodata.gif) 0 0 no-repeat; width:100%; background-size:100%; height:428px;}
/* BOARD */
/* 게시판 - 검색부분 */
.board_list_area { margin-bottom:40px; overflow:hidden; }
.board_info { overflow:hidden;  margin-bottom:10px; }
.board_info .l_bx { float:left; margin-top:20px;}
.board_info .l_bx p span { font-size:15px; }
.board_info .r_bx { float:right; }
.board_info .r_bx .schBx input { padding:4px; margin-right:0;}
.board_info .r_bx .schBx .sb_btn { background:#333; display:inline-block; width:50px; height:36px; line-height:35px; text-align:center;  color:#fff; font-size:13px;  }
.board_info_center { overflow:hidden;  margin-bottom:30px; background:url(../images/common/item_bg.gif) 0 0 repeat; height:100px; width:100%; text-align:center; line-height:100px; font-weight:600; }
.board_info_center .sb_btn { background:#333; display:inline-block; width:50px; height:33px; line-height:33px; text-align:center;  color:#fff; font-size:13px;  }
 

/* 게시판 - 목록 부분  */
.bbs_list { margin-bottom:40px; position:relative;}
.bbs_list .tbl_cm table thead tr th { padding:15px 0; text-align:center;  background:#f7f7f7; color:#000; border-top:2px solid #000; border-bottom:1px solid #ccc;} 
.bbs_list .tbl_cm table tbody tr td { padding:15px 0; text-align:center; border-bottom:1px solid #e4e4e4; }
.bbs_list .tbl_cm table tbody tr.pt_notice td:first-child { color:#fe4628; font-weight:700;  }
.bbs_list .tbl_cm table tbody tr td.subj { text-align:left; position:relative; }
.bbs_list .tbl_cm table tbody tr td.subj img { position:absolute;  padding-left:10px;}
.bbs_list .tbl_cm table tbody tr td.subj a {text-overflow:ellipsis; white-space: nowrap; overflow:hidden; max-width:500px; display:inline-block;  padding-left:20px; }
.bbs_list .tbl_cm table tbody tr td.subj a span { display:none;}
.bbs_list .tbl_cm table tbody tr td.subj a:hover { text-decoration: underline;}
.bbs_list .tbl_cm table tbody tr:hover { background:#fdfdfd;}


/* 게시판 - 상세페이지 */
.board_view_area { margin-bottom:50px; position:relative;}
.bbs_view { margin-bottom:40px; border-top:2px solid #000; border-bottom:1px solid #000;}
.bbs_view .tbl_w { border-bottom:0!important;}
.bbs_view .view_head {overflow:hidden; }
.bbs_view .view_head dl { border-bottom:1px solid #e4e4e4; padding:12px 2% 12px 2%; overflow:hidden; height:25px; line-height:25px;}
.bbs_view .view_head dl dt { float:left;  }
.bbs_view .view_head dl dd { float:left;}
.bbs_view .view_head .subject { overflow:hidden; padding:15px 2% 15px 2%;  border-bottom:1px solid #e4e4e4; height:auto;}
.bbs_view .view_head .subject > dt { float:left; font-size:20px; font-family: 'NanumSquare'; color:#000; font-weight:700;  }
.bbs_view .view_head .subject dd { text-align:right;}
.bbs_view .view_head .subject .info  { float:right;}
.bbs_view .view_head .subject .info span:after { content:'|'; padding:10px;}
.bbs_view .view_head .subject .info span:last-child:after { content:''; padding:0px;}
.bbs_view .view_head .file { padding:15px 2%; border-bottom:1px solid #e4e4e4;}
.bbs_view .view_head .t_tit {padding-right:10px; font-weight:600;   }
.bbs_view .view_head .file a{ text-decoration: underline;}
.bbs_view .view_head .file a img { padding-right:5px; }
.bbs_view .view_body { padding:15px 2%; }
.txt { text-align:left!important; margin-bottom:15px!important; line-height:1.6em!important; font-size:15px!important; }


    /* 상세페이지 - 대회신청 부분*/
    .view_area_tit { padding:0px 2% 15px 2%;  font-size:24px; font-family: 'NanumSquare'; color:#000; font-weight:700; text-align:center;}
    .tbl_tit { line-height:40px; overflow:hidden;}
    .h4_tit { float:left; margin-right:20px; font-size:20px; font-weight:700; font-family: 'NanumSquare'; background:url(../images/contents/h3_bull.gif) 0 50%  no-repeat;; display:inline-block;  height:40px; line-height:40px; padding-left:25px; }
    .tbl_tit .tab_con a { color:#fff;background:#909090; font-size:14px;display:inline-block; width:30px; height:30px; line-height:30px; border-radius:50px; text-align:center; }
    .tbl_tit .tab_con a.on { background:#fe4d06; color:#fff;  font-weight:600; }
    .tbl_view { margin-bottom:40px; height:300px; overflow-y:scroll; }
    .tbl_view table thead tr th { padding:12px 0; text-align:center;  box-sizing: border-box;  border-top:2px solid #000; border-bottom:1px solid #ccc;}
    .tbl_view table tbody tr td { padding:12px 0; text-align:center; border-bottom:1px solid #ccc; box-sizing: border-box;}
    .tbl_view table tbody tr td a { font-weight:600; text-decoration: underline; color:#2a65ac; }
    .btn_or {  color:#fe4d05;   font-weight:700; display:inline-block; width:80px; text-align:center;  border-radius:2px; font-size:15px; line-height:25px;}
    .btn_gray {   color:#777;    border-radius:2px;   font-weight:700; display:inline-block; width:80px; font-size:15px; height:25px; line-height:25px;}

    /* 상세페이지 - 대회결과 부분*/
    .view_slide { margin:3% 0; position:relative; background:url(../images/common/item_bg.gif) 0 0 repeat; padding:3%; }
    .slide ul { overflow:hidden; height:260px; }
    .slide ul li { float:left; width:32%; margin-right:2%; height:100%; }
    .slide ul li:nth-child(3n) { margin-right:0;}
    .slide ul li a { display:inline-block; width:100%; height:250px; overflow:hidden; position:relative;}
    .slide ul li a img { width:100%;}
    .slide ul li a .txt { position:absolute; bottom:0; width:100%; background:url(../images/main/bk_oc.png);  height:40px; line-height:40px; text-align:center;  z-index:999;   }
    .slide ul li a .txt span {color:#fff; z-index:999; font-weight:700;}
    .slide_btn { }
    .slide_btn a { position:absolute; top:45%;  height:50px; width:3%; text-indent:-9999em; background:#2a2b2c url(../images/contents/slice_wh_arr_l.png) 50% 50% no-repeat; transition: 0.3s ease;}
    .slide_btn > .prev {left:0;  }
    .slide_btn > .next { right:0; background:#2a2b2c url(../images/contents/slice_wh_arr_r.png) 50% 50% no-repeat }
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8); }


/* 게시판 - 작성부분 */
.board_area { margin-bottom:40px; position:relative; }
.bbs_write { border-top:2px solid #000;  }
.tbl_w { background:#fff; margin-bottom:20px; border-bottom:1px solid #000;}
.tbl_w table tbody tr { border-bottom:1px solid #ccc; }
.tbl_w table tbody tr:last-child { border-bottom:0px solid #000;}
.tbl_w table tbody tr th { padding:15px 0 0; text-align:center; border-right:1px solid #ccc; background:#f7f7f7; }
.tbl_w table tbody tr th span { padding-right:3px;}
.tbl_w table tbody tr td { padding:10px;}
.tbl_w table tbody tr td.view_con {width:100%; border-bottom:0;}
.tbl_w table tbody tr td.view_con img {width:auto; }
.tbl_w table tbody tr td .insert{ margin:0 5px;}
.tbl_w table tbody tr td input { width:98%; }
.tbl_w table tbody tr td a img { width:18px; margin-right:5px;}
.tbl_w table tbody tr td a:hover { text-decoration: underline;}
.tbl_w table tbody tr td input[type="file"] { width:40%; background:#f7f7f7;}
.tbl_w table tbody tr td textarea { width:98%; min-height:200px;}
.tbl_w table tbody tr td.fileBtn a { background:url(../images/contents/plusminus.gif) 0 50% no-repeat; display:inline-block; width:29px; height:29px; text-indent:-9999em; margin-left:5px; vertical-align: middle;}
.tbl_w table tbody tr td a.minus { background-position:-29px 0;}
.bdl0 { border-left:0;}
.bdt { border-top:1px solid #ccc;;}
.agree { background:#fff url(../images/contents/stripe.gif) 100% 0 repeat-x; padding:15px 0; text-align:center; border:1px solid #ccc; }
.agree p a { display:inline-block; background:#fff url(../images/contents/ico_list.png) 12px 50% no-repeat; width:80px; text-align:center; line-height:29px; border:1px solid #fe4d06; color:#fe4d06; margin-left:10px; padding-left:16px; font-size:13px;}


/* 게시판 - 갤러리 */
.bbs_gallery { margin-bottom:40px;  border-top:2px solid #000; padding-top:20px; border-bottom:1px solid #ccc;}
.bbs_gallery ul { overflow:hidden; }
.bbs_gallery ul li { float:left; width:23.5%;   margin-right:20px; margin-bottom:30px; border:1px solid #ccc;}
.bbs_gallery ul li:nth-child(4n) { margin-right:0;}
.bbs_gallery > ul > li > a { width:100%; height:180px; background:#ccc; border-bottom:1px solid #ccc;overflow:hidden; display:inline-block;  }
.bbs_gallery ul li a img { width:100%; height:auto; transform:scale(1); -webkit-transform:scale(1); -moz-transform:scale(1.01); -ms-transform:scale(1); -o-transform:scale(1); transition:all 0.3s ease-in-out}
.bbs_gallery ul li:hover img {  transform:scale(1.01); -webkit-transform:scale(1.01); -moz-transform:scale(1.01); -ms-transform:scale(1.01); -o-transform:scale(1.01) }
.bbs_gallery ul li .gall_con { padding:5%; height:80px; }
.bbs_gallery ul li .gall_con dl { }
.bbs_gallery ul li .gall_con dl dt { text-align:center; font-weight:700; font-size:18px; font-family:'NanumSquare'; margin-bottom:10px; text-overflow:ellipsis; white-space: nowrap; overflow:hidden; width:95%; }
.bbs_gallery ul li .gall_con dl dd { font-weight:700;   margin-bottom:5px; line-height:1.3em; font-size:13px;}
.bbs_gallery ul li .gall_con dl dd.txt { height:47px; white-space: nowrap; text-overflow:ellipsis; overflow:hidden; word-wrap: break-word; white-space: normal;  display:-webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height:20px; font-weight:normal; }
.bbs_gallery ul li .gall_btn { height:40px; line-height:40px; text-align:center; font-weight:700; background:#ffaa3c; }
.bbs_gallery ul li .gall_btn a {text-indent:-9999em; background:url(../images/common/more.png) 50% 50% no-repeat;  width:100%; display:inline-block; transition:transform 600ms ease-in-out 0s;  }
.bbs_gallery ul li .gall_btn a:hover { transform: rotate(720deg) }


/* 게시판 버튼 */
.btn_r { margin:20px 0; text-align:right; transition:800ms ease all;}
.btn_r a { display:inline-block; width:90px; height:40px; background:#f24d06; color:#fff;  text-align:center; line-height:40px;  font-weight:700;}
.btn_r a:hover { background:#fff; color:#f24d06; border:1px solid #f24d06; box-sizing: border-box;transition:100ms ease all;}
.btn_r2 { margin:20px 0; text-align:right;}
.btn_r2 a { display:inline-block; width:90px; height:40px;  background:#f24d06; color:#fff;  text-align:center; line-height:40px; font-weight:700; border:1px solid #f24d06; box-sizing: border-box;}
.btn_r2 a.gray { background:#555;  color:#fff; border:1px solid #555;}
.btn_r2 a.gray:hover {color:#555; background:#fff; border:1px solid #555; box-sizing: border-box; }
.btn_r2 a:hover {color:#f24d06; background:#fff; border:1px solid #f24d06; box-sizing: border-box; }
.btn_c { margin-bottom:40px; text-align:center;}
.btn_c a { display:inline-block; width:90px; height:40px; background:#f24d06; color:#fff;  text-align:center; line-height:40px; font-weight:700;}
.ft_gray { font-weight:700; color:#777; }
.ft_or {font-weight:700;  color:#fe4628;}


/* 게시판 - 이전글 다음글 */
.view_list {border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.view_list .prev { border-bottom:1px solid #ccc; }
.view_list li span.tit { display:inline-block; width:110px; height:45px; line-height:45px; padding-left:40px; color:#fff; }
.view_list li:hover { background:#fff;}
.view_list > .prev > span.tit { background:#a2a2a2 url(../images/contents/prev.png) 83% 50% no-repeat; }
.view_list > .next > span.tit { background:#a2a2a2 url(../images/contents/next.png) 83% 50% no-repeat; }
.view_list span.txt { padding-left:15px; color:#666;}
.view_list span.txt a { color:#000;}
.view_list .next span.txt a:hover { text-decoration: underline; }


/* 게시판 - 페이징 */
.paging { text-align:center; margin-bottom:20px;}
.paging ul { overflow:hidden; display:inline-block;}
.paging ul li { float:left; margin-right:5px;}
.paging ul > .prev > a > .sp_ico { background-position: -13px 50%; }
.paging ul > .next > a > .sp_ico { background-position: -25px 50%; width:12px;}
.paging ul > .l_next > a > .sp_ico { background-position: -37px 50%; }
.paging ul li a { display:inline-block; width:30px; height:30px; text-align:center; line-height:30px; font-size:16px; border:1px solid #ccc; background:#fff;}
.paging > ul > li > a.on { border:1px solid #fe4628; background:#fe4628; color:#fff; }
.paging ul li a .sp_ico { background:#fff url(../images/contents/paging.gif) 0 50% no-repeat; width:51px; background-size:50px;text-indent:-99999em; display:inline-block;  width:13px;}


/* 게시판 댓글 - 나도 한마디 */
.commWrite { background:#f8f8f8 url(../images/contents/comm.gif) 50% 0% no-repeat; padding:40px 0;}
.commWrite .tit { font-size:18px; font-weight:700; font-family:'NanumSquare'; margin:40px 0 10px 0; }
.commWrite .tit span { font-size:13px; font-family:'NanumGothic'; font-weight:normal; padding-left:10px;}
.commWrite .commInput { width:100%; height:70px; overflow:hidden; margin-bottom:30px;}
.commWrite .commInput .textArea { float:left; width:90%; height:70px;  margin-right:1%;}
.commWrite .commInput .textArea textarea { width:100%!important; height:60px!important}
.commWrite .commInput .btnComm { float:left; width:9%; background:#2b2b2b;}
.commWrite .commInput .btnComm a { width:100%; height:70px; text-align:center; line-height:70px;  color:#fff; display:inline-block;}
.commWrite .commTxt dl { border-bottom:1px solid #ccc; padding:20px 0; background:url(../images/contents/writer.gif) 0px 20px  no-repeat; padding-left:70px;}
.commWrite .commTxt dl.admin { border-bottom:1px solid #ccc; padding:20px 0; background:url(../images/contents/ico_admin.gif) 0px 20px  no-repeat; padding-left:70px;}
.commWrite .commTxt dl.reAdmin { border-bottom:1px solid #ccc; padding:20px 0; background:url(../images/contents/readminIcon.gif) 70px 18px  no-repeat; padding-left:120px;}
.commWrite .commTxt dl.reUser { border-bottom:1px solid #ccc; padding:20px 0; background:url(../images/contents/reuserIcon.gif) 70px 18px  no-repeat; padding-left:120px;}
.commWrite .commTxt dl dt { font-size:16px; font-weight:700; color:#000; margin-bottom:20px;}
.commWrite .commTxt dl dt a { font-size:13px; font-weight:normal; color:#fff; display:inline-block; width:35px; height:20px; border-radius:50px; text-align:center; line-height:20px; font-size:12px; margin-left:5px;}
.commWrite .commTxt dl dd { line-height:1.4em; color:#555; margin-bottom:20px;}
/*.commWrite .commTxt dl dd pre {word-break : nomal; } */
.commWrite .commTxt dl .date { margin-bottom:0; color:#aaa; }
.txt_md { background:#fe4d06;}
.txt_dt { background:#777; }


/* 설명박스 */
.icoBx { border:1px solid #ccc; border-top:3px solid #000; padding:30px 3% 30px 12%; margin-bottom:20px;  }
.icoBx.ic1 { background:url(../images/contents/icoBx01.gif) 3% 50% no-repeat; }
.icoBx.ic2 { background:url(../images/contents/icoBx02.gif) 3% 50% no-repeat; }
.icoBx.ic3 { background:url(../images/contents/icoBx03.gif) 3% 50% no-repeat; }
.icoBx p { background:url(../images/common/4x4_or.gif)0 50% no-repeat; padding-left:10px; line-height:2em; }


/* layer popup : S */
.layer_pop { position:fixed; left:50%; top:50%;  transform: translate(-50%, -50%); z-index:1000!important; width:700px; }
.layer_pop .layer_wrap { background:#fff; width:650px; border:1px solid #ccc; position:relative;}
.layer_pop .layer_wrap .layer_head { text-align:center; height:60px; line-height:60px; background:#fe4d05 url(../images/contents/stripe_or.gif); color:#fff; font-size:20px; font-weight:700;  font-family:'NanumSquare';}
.layer_pop .layer_wrap .layer_con { padding:45px; }
.layer_pop .layer_wrap .layer_con .tbl_pop{ border-top:2px solid #000;  box-sizing: border-box; margin-bottom:20px; border-right:1px solid #ccc;  border-left:1px solid #ccc;}
.layer_pop .layer_wrap .layer_con table tbody tr { border-bottom:1px solid #ccc; }
.layer_pop .layer_wrap .layer_con table tbody tr th { background:#f2f2f2; text-align:center; padding:13px 0; border-right:1px solid #ccc; }
.layer_pop .layer_wrap .layer_con table tbody tr td { padding:13px; }
.layer_pop .layer_wrap .layer_con table tbody tr td input[type="radio"] { margin-right:3px;}
.layer_pop .layer_wrap .layer_con table tbody tr td input[type="number"] { width:30%;}
.layer_pop .layer_wrap .layer_con .selBx select { height:35px; }
.layer_pop .layer_wrap .layer_con input { height:30px; }
.layer_pop .layer_wrap .layer_con .txt_pop { border-top:2px solid #000;  box-sizing: border-box;  border-right:1px solid #ccc;  border-left:1px solid #ccc; padding:20px;  border-bottom:1px solid #ccc; height:400px; overflow-y: scroll; }
.pop_over_bg { background:#000; width:100%; height:100%; opacity:0.8; position:absolute; left:0; top:0; display:none; z-index:100;}
.popClose { position:absolute; top:22px; right:22px; display:inline-block; width:18px; height:18px ;background:url(../images/contents/popClose.png) 0 0 no-repeat; text-indent:-99999em; display:inline-block; }

    /* layer popup2 : S */
    .layer_pop2 { position:fixed; left:50%; top:50%; transform: -50%, -50%; z-index:1000; transform: translate(-50%, -50%);}
    .layer_pop2 .layer_wrap { background:#fff; width:650px; border:1px solid #ccc;}
    .layer_pop2 .layer_wrap .layer_head { text-align:center; height:60px; line-height:60px; background:#fe4d05 url(../images/contents/stripe_or.gif); color:#fff; font-size:20px; font-weight:700;  font-family:'NanumSquare';}
    .layer_pop2 .layer_wrap .layer_con { padding:45px; }
    .layer_pop2 .layer_wrap .layer_con .tbl_pop{ border-top:2px solid #000;  box-sizing: border-box; margin-bottom:20px; border-right:1px solid #ccc;  border-left:1px solid #ccc;}
    .layer_pop2 .layer_wrap .layer_con table tbody tr { border-bottom:1px solid #ccc; }
    .layer_pop2 .layer_wrap .layer_con table tbody tr th { background:#f2f2f2; text-align:center; padding:13px 0; border-right:1px solid #ccc; }
    .layer_pop2 .layer_wrap .layer_con table tbody tr td { padding:13px; }
    .layer_pop2 .layer_wrap .layer_con table tbody tr td input[type="radio"] { margin-right:3px;}
    .layer_pop2 .layer_wrap .layer_con .selBx select { height:35px; }
    .layer_pop2 .layer_wrap .layer_con input { height:33px;}
    .layer_pop2 .layer_wrap .layer_con .txt_pop{ border-top:2px solid #000;  box-sizing: border-box;  border-right:1px solid #ccc;  border-left:1px solid #ccc; padding:20px;  border-bottom:1px solid #ccc; height:400px; overflow-y: scroll; }
    .ico_pop {}
    .ico_pop.popic1 { background:url(../images/contents/find_pop.png) 0 0px no-repeat; padding-bottom:50px; padding-left:100px; background-size:80px;}
    .ico_pop p { font-size:15px; margin-bottom:10px;}
    .ico_pop p.impor { font-size:24px;}

    /* layer popup3 : S */
    .layer_pop3 { position:fixed; left:50%; top:50%; transform: -50%, -50%; z-index:1000; transform: translate(-50%, -50%);}
    .layer_pop3 .layer_wrap { background:#fff; width:650px; border:1px solid #ccc;}
    .layer_pop3 .layer_wrap .layer_head { text-align:center; height:60px; line-height:60px; background:#fe4d05 url(../images/contents/stripe_or.gif); color:#fff; font-size:20px; font-weight:700;  font-family:'NanumSquare';}
    .layer_pop3 .layer_wrap .layer_con { padding:45px; }
    .layer_pop3 .layer_wrap .layer_con .tbl_pop{ border-top:2px solid #000;  box-sizing: border-box; margin-bottom:20px; border-right:1px solid #ccc;  border-left:1px solid #ccc;}
    .layer_pop3 .layer_wrap .layer_con table tbody tr { border-bottom:1px solid #ccc; }
    .layer_pop3 .layer_wrap .layer_con table tbody tr th { background:#f2f2f2; text-align:center; padding:13px 0; border-right:1px solid #ccc; }
    .layer_pop3 .layer_wrap .layer_con table tbody tr td { padding:13px; }
    .layer_pop3 .layer_wrap .layer_con table tbody tr td input[type="radio"] { margin-right:3px;}
    .layer_pop3 .layer_wrap .layer_con .selBx select { height:35px; }
    .layer_pop3 .layer_wrap .layer_con input { height:33px;}
    .layer_pop3 .layer_wrap .layer_con .txt_pop{ border-top:2px solid #000;  box-sizing: border-box;  border-right:1px solid #ccc;  border-left:1px solid #ccc; padding:20px;  border-bottom:1px solid #ccc; height:400px; overflow-y: scroll; }

    /* layer popup4 : S */
    .layer_pop4 { position:fixed; left:50%; top:50%; transform: -50%, -50%; z-index:1000; transform: translate(-50%, -50%);}
    .layer_pop4 .layer_wrap { background:#fff; width:650px; border:1px solid #ccc;}
    .layer_pop4 .layer_wrap .layer_head { text-align:center; height:60px; line-height:60px; background:#fe4d05 url(../images/contents/stripe_or.gif); color:#fff; font-size:20px; font-weight:700;  font-family:'NanumSquare';}
    .layer_pop4 .layer_wrap .layer_con { padding:45px; }
    .layer_pop4 .layer_wrap .layer_con .tbl_pop{ border-top:2px solid #000;  box-sizing: border-box; margin-bottom:20px; border-right:1px solid #ccc; border-left:1px solid #ccc; }
    .layer_pop4 .layer_wrap .layer_con table tbody tr { border-bottom:1px solid #ccc; }
    .layer_pop4 .layer_wrap .layer_con table tbody tr th { background:#f2f2f2; text-align:center; padding:13px 0; border-right:1px solid #ccc; }
    .layer_pop4 .layer_wrap .layer_con table tbody tr td { padding:13px; }
    .layer_pop4 .layer_wrap .layer_con table tbody tr td input[type="radio"] { margin-right:3px;}
    .layer_pop4 .layer_wrap .layer_con .selBx select { height:35px; }
    .layer_pop4 .layer_wrap .layer_con input { height:33px;}
    .layer_pop4 .layer_wrap .layer_con .txt_pop{ border-top:2px solid #000;  box-sizing: border-box;  border-right:1px solid #ccc;  border-left:1px solid #ccc; padding:20px;  border-bottom:1px solid #ccc; height:400px; overflow-y: scroll; }


/* 개인정보 이용동의 */
.agreeTxt { font-size:14px; line-height:1.4em;}
.agreeTxt p { margin-bottom:20px; }
.agreeTxt dl { margin-bottom:25px;}
.agreeTxt dl dt { font-weight:700; margin-bottom:10px; color:#fe4d06;}
.agreeTxt dl dd { line-height:1.3em;}
.agreeTxt dl dd ul li { margin-bottom:10px;}
.agreeTxt dl dd ul li strong { margin:10px 0; display:inline-block;}

.tbl_con { border-top:2px solid #ff8a5c; border-bottom:1px solid #ccc; border-left:1px solid #ccc; border-right:1px solid #ccc; box-sizing: border-box;}
.tbl_con thead tr th { background:#f7f7f7; padding:10px 0; text-align:center; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
.tbl_con tbody tr td {border-right:1px solid #ccc; text-align:center;}


/* 자동등록방지 */
.seCureWrap { overflow:hidden;}
.seCureWrap img {float:left; }
.seCureWrap .auto_btn { float:left; margin-right:20px;}
.seCureWrap .auto_btn a { display:block; height:20px; width:60px; font-size:13px; margin-left:5px;}
.seCureWrap input { height:33px; width:170px;}
.seCureWrap span { font-size:13px;}
.btnCt a { display:inline-block; width:49.6%; height:50px; line-height:50px; text-align:center; background:#ff5e44; color:#fff; font-weight:700;}
.btnCt a.gray { background:#6a6a6a;}

/* 181024 추가 */
.auto_num { float:left; margin-right:10px;}
.auto_input { float:left; }
.auto_input p { margin-bottom:5px; }
.auto_btn { margin-top:10px;  }
.auto_btn .btn-reset { background:url(../images/contents/reImg.gif) 0 0 no-repeat; height:24px; padding-left:26px; display:inline-block; line-height:24px; }
.auto_btn .btn-voice { background:url(../images/contents/reSpk.gif) 0 0 no-repeat; height:24px; padding-left:26px; display:inline-block; line-height:24px; margin-left:10px;}


/* 볼링공 및 볼링용품 bbs_ball */
.tabMenu { overflow:hidden; margin-bottom:20px; display:table; width:100%;}
.tabMenu li { border: 1px solid #ccc;  height: 35px; line-height: 35px; text-align: center; width:25%; float:left; box-sizing: border-box;}
.tabMenu li a { font-size:17px; font-family:'NanumSquare'; font-weight:700; display:inline-block; }
.tabMenu li a.on,.tabMenu li a:hover {  color:#f24d06;}
.mVer { display:none;}
.bbs_ball { margin-bottom:40px; border-top:2px solid #000; padding-top:15px;}
.bbs_ball ul { overflow:hidden; }
.bbs_ball ul li { float:left;  text-align:center; width:24.1%;  margin-right:1.1%;}
.bbs_ball ul li:nth-child(4n) {margin-right:0px; }
.bbs_ball ul li dl { margin-bottom:30px}
.bbs_ball ul li dl dt {border:1px solid #ccc;  width:100%; height:248px; padding-top:40px; margin-bottom:15px;}
.bbs_ball ul li dl dt a { display:inline-block; width:100%; height:100%; }
.bbs_ball ul li dl dt a:hover img { transform:scale(1.1); -webkit-transform:scale(1.1); -moz-transform:scale(1.1); -ms-transform:scale(1.1); -o-transform:scale(1.1); transition:all 0.3s ease-in-out}
.bbs_ball ul li dl dt a img { width:206px; }
.bbs_ball ul li dl dd {}
.bbs_ball ul li dl dd.sm_txt { font-size:16px; color:#b0b0b0; margin-bottom:5px; }
.bbs_ball ul li dl dd.tit_txt { font-size:22px; font-family:'NanumSquare'; font-weight:700; width:288px; white-space:nowrap;  text-overflow:ellipsis; overflow:hidden; }


/* 볼링공 및 볼링용품 - 상세 페이지 */
.view_detail_area {}
.view_detail_area .detail_head { border:1px solid #ccc;  padding:5% 10%; overflow:hidden;  position:relative; margin-bottom:40px;}
.view_detail_area .detail_head dl { float:left; margin-right:50px; z-index:100; width:50%;}
.view_detail_area .detail_head dl dt { font-weight:700; font-size:30px; font-style: italic;  margin-bottom:20px; width:90%;}
.view_detail_area .detail_head dl dd { overflow:hidden; margin-bottom:20px;}
.view_detail_area .detail_head dl dd:last-child {margin-bottom:0px;}
.view_detail_area .detail_head dl dd ul.litype_or { }
.view_detail_area .detail_head dl dd ul.litype_or li { background:url(../images/main/bbs_list.gif) 0 5px no-repeat; padding-left:15px; margin-bottom:20px; font-size:16px; }
.view_detail_area .detail_head dl dd ul.litype_or li span { font-weight:600; display:inline-block; width:100px; }
.view_detail_area .detail_head dl dd .thum {float:left; cursor:pointer; width:114px; height:109px; border:2px solid #ccc; text-align:center;  margin-right:15px; overflow:hidden; margin-bottom:10px;}
.view_detail_area .detail_head dl dd .thum:last-child { margin-right:0px;}
.view_detail_area .detail_head dl dd .thum:hover, .view_detail_area .detail_head dl dd .thum.on { border:2px solid #fe4d06; }
.view_detail_area .detail_head dl dd .thum img { width: 80%; padding-top:5px;}
.view_detail_area .detail_head dl dd a {display:inline-block; width:144px; height:50px; background:#fe4d06;  color:#fff; font-weight:600; text-align:center; line-height:50px;}
.view_detail_area .detail_head dl dd a.bdbtn { background:#fff; border:1px solid #aaa; color:#000; }
.view_detail_area .detail_head .bigImg { position:absolute; right:10%; top:8%; width:40%}
.view_detail_area .detail_head .bigImg img.w500 { width:100%!important; }
.view_detail_area .detail_body { }
.view_detail_area .detail_body .tablink { background:#aaa; color:#fff; display:inline-block; width:49.8%; height:50px; margin:0; font-size:17px; font-weight:700; cursor:pointer;border: none; outline: none; float:left;text-align:center; line-height:50px; }
.view_detail_area .detail_body .tabcontent { padding:10%; text-align:center;}

/* sns */
.tabMenu2 { overflow:hidden; text-align:center; margin:0 auto; width:80%; margin-bottom:30px;}
.tabMenu2 li { float:left; width:28%; margin:0 2%; border:1px solid #ccc; height:50px; line-height:50px;  }
.tabMenu2 li a { display:inline-block; width:100%; }
.tabMenu2 li a span { background:url(../images/contents/tab_sns.gif) 0 0 no-repeat; width:168px; display:inline-block; text-indent:-99999em; vertical-align: middle; }
.tabMenu2 li.fc a span { height:34px; background-position: 0 -33px;  }
.tabMenu2 li.fc a.on span { height:33px; background-position: 0 0;  }
.tabMenu2 li.fc a.on, .tabMenu2 li.fc a:hover { background:#3e5c99; }
.tabMenu2 li.tw a span { height:26px; background-position: 0 -67px;  }
.tabMenu2 li.tw a.on span, .tabMenu2 li.tw a:hover span { height:26px; background-position: 0 -93px;  }
.tabMenu2 li.tw a.on, .tabMenu2 li.tw a:hover { background:#33ccff;  }
.tabMenu2 li.is a span { height:35px; background-position: 0 -123px;  }
.tabMenu2 li.is a.on span, .tabMenu2 li.is a:hover span { height:29px; background-position: 0 -160px;  }
.tabMenu2 li.is a.on, .tabMenu2 li.is a:hover { background:url(../images/contents/insta_bg.gif) 0 0 repeat-x;  }
.masonry { padding:0px; margin-bottom:20px; overflow:hidden;}
.masonry .item { display:block; border:1px solid #ffffff; min-height:50px; box-sizing:border-box; background:#fff; color:#000; border:1px solid #ccc; float:left;  margin-bottom:20px; width:24%; margin-right:1%; }
.masonry .item .sns_img a { display:inline-block;}
.masonry .item .sns_img a img { width:100%;}
.masonry .item .sns_txt { padding:5%;}
.masonry .item .sns_txt a { font-size:14px;}
.masonry .item .sns_txt a:hover { text-decoration: underline;}
.masonry .item .sns_date {padding:5%; overflow:hidden;}
.sns_ico { text-indent:-9999em; display:inline-block; background:url(../images/contents/sns_ico.gif) 0 0 no-repeat; vertical-align: middle; }
.fc { background-position: 0 0 ; width:27px; height:28px;}
.tw { background-position: -26px 0; width:26px; height:28px;}
.ins { background-position: -51px 0; width:28px; height:28px;}
.like { background-position: 0px -28px; width:13px; height:13px; margin-right:3px;}
.snsdate { background-position:-13px -28px; width:13px; height:13px; margin-right:3px;}
.masonry .item .sns_date .sns_ico img {}
.masonry .item .sns_date ul { float:right; text-align:right;}


/* 진승무역 - STAFF */
.board_col_area { margin-bottom:40px; }
.colmBx { width:100%;height:160px; padding-top:50px;  text-align:center; background:#ffaa3c; margin-bottom:20px; margin-top:-40px; }
.colmBx .bxIn { width:100%; margin:0 auto; background:url(../images/contents/icoBx_pt.gif) 50% 50% no-repeat; }
.colmBx .bxIn .colmIco { background:url(../images/contents/ico_staff.gif) 25% 50%  no-repeat;  }
.colmBx .bxIn .colmIco .tit { font-family:'NanumSquare'; font-size:30px; font-weight:600; padding:20px 0px; color:#fff; margin-bottom:15px;}
.colmBx .bxIn .colmIco .txt { color:#fff; line-height:1.4em; font-size:13px;}

.staff_intro_wrap { margin-bottom:40px; padding-top:15px; border-top:2px solid #000; }
.staff_intro_wrap .staff_bx { width:100%; height:200px; overflow:hidden; margin-bottom:30px; }
.staff_intro_wrap .staff_bx div { float:left; }
.staff_intro_wrap .staff_bx .pf_img { width:300px; overflow:hidden; background:#ccc;height:100%; text-align:center; }
.staff_intro_wrap .staff_bx .pf_img a { display:inline-block; }
.staff_intro_wrap .staff_bx .pf_img a img { width:100%; vertical-align: middle;transform:scale(1); -webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); transition:all 0.3s ease-in-out }
.staff_intro_wrap .staff_bx .pf_img a img:hover {transform:scale(1.1); -webkit-transform:scale(1.1); -moz-transform:scale(1.1); -ms-transform:scale(1.1); -o-transform:scale(1.1); transition:all 0.3s ease-in-out }
.staff_intro_wrap .staff_bx .pf_txt { width:60%; height:200px; padding-left:5%; box-sizing: border-box; border:1px solid #ccc;}
.staff_intro_wrap .staff_bx .pf_txt dl { margin-top:20px;}
.staff_intro_wrap .staff_bx .pf_txt dl dt { font-size:26px; font-weight:700; font-family:'NanumSquare'; margin-bottom:10px;}
.staff_intro_wrap .staff_bx .pf_txt dl dd {}
.staff_intro_wrap .staff_bx .pf_txt dl dd ul {}
.staff_intro_wrap .staff_bx .pf_txt dl dd ul li { background:url(../images/common/bbs_list.gif) 0 50% no-repeat; padding-left:14px; line-height:1.8em; overflow:hidden;}
.staff_intro_wrap .staff_bx .pf_txt dl dd ul li span.pf_th { display:inline-block; width:10%; font-weight:600; float:left;}
.staff_intro_wrap .staff_bx .pf_txt dl dd ul li span { }
.staff_intro_wrap .staff_bx .pf_link { width:14%; background:#f6f6f6; height:200px; text-align:center; position:relative; box-sizing: border-box; border:1px solid #ccc; border-left:0;}
.staff_intro_wrap .staff_bx .pf_link .pf_btn {display:inline-block; padding-top:130px; width:100%; font-weight:600; height:100%;  }
.staff_intro_wrap .staff_bx .pf_link .pf_btn:hover { color:#fff; background:#fe4d06; }
.staff_intro_wrap .staff_bx .pf_link .pf_btn:hover span { background-position:50% -42px;  }
.staff_intro_wrap .staff_bx .pf_link .pf_btn span { background:url(../images/contents/pf_link.png) 50% 0 no-repeat; display:inline-block; width:63px; height:43px; position:absolute; top:60px; left:32%; }


/* 진승무역 - staff - 상세페이지 */
.prof_detail_wrap { width:100%; position:relative; margin: 0 auto; border-top:2px solid #000; }
.prof_detail_wrap .pf_head {  overflow:hidden; margin-bottom:40px; padding: 20px 0; border-bottom:1px solid #aaa; background:#fafafa;   }
.prof_detail_wrap .pf_head .head_in { overflow:hidden; position:relative; padding:0 3%;  }
.prof_detail_wrap .pf_head .head_in .imgBx { max-height:180px; overflow:hidden; position:relative; display:inline-block; vertical-align:middle; }
.prof_detail_wrap .pf_head .head_in .imgBx img { width:180px; height:100%;}
.prof_detail_wrap .pf_head .head_in .imgBx span.mask { width:180px; height:180px; background:url(../images/contents/mask_bg.png) 0 0 no-repeat; background-size:180px 180px; position:absolute; left:0; top:0;}
.prof_detail_wrap .pf_head .head_in .profile_info { display:inline-block; vertical-align:middle; margin-left:5%; }
.prof_detail_wrap .pf_name { padding:0 0 30px 0; }
.prof_detail_wrap .pf_head .head_in .profile_info {background:url(../images/contents/h3_bull.gif) 0 0 no-repeat;   }
.prof_detail_wrap .pf_head .head_in .profile_info .pf_name .big { font-family:'NanumSquare'; font-size:30px; font-weight:600; color:#000; display:inline-block; padding-top:10px; }
.prof_detail_wrap .pf_head .head_in .profile_info .pf_name .small { font-family:'NanumSquare'; font-size:25px; font-weight:600; color:#aaa;display:inline-block; }
.prof_detail_wrap .pf_head .head_in .profile_info .profile dl {  overflow:hidden; display:inline-block; margin-right:25px;   }
.prof_detail_wrap .pf_head .head_in .profile_info .profile dl dt { color:#fff; margin-right:10px; display:inline-block; font-weight:600; float:left; padding:3px 5px 3px 5px; background:#fe4d06; text-align:center; font-size:15px; }
.prof_detail_wrap .pf_head .head_in .profile_info .profile dl dd {  font-size:15px; padding:3px 0; font-weight:600;  display:inline-block;} 

.prof_detail_wrap .pf_body { border-bottom:1px solid #ccc; margin-bottom:40px;}
.prof_detail_wrap .pf_body .section { margin-bottom:60px;}
.prof_detail_wrap .pf_body .section .pf_tit { font-family:'NanumSquare'; font-size:20px; color:#000; font-weight:700; margin-bottom:10px; background:url(../images/contents/h3_bull.gif) 0 50% no-repeat;  padding-left:24px;}
.prof_detail_wrap .pf_body .section .info p { line-height:1.5em; margin-bottom:20px; }
.prof_detail_wrap .pf_body .section .info p:last-child { margin-bottom:0; }
.prof_detail_wrap .pf_body .section .info p a { color:blue; text-decoration: underline; }
.prof_detail_wrap .pf_body .section .info_pic ul {  overflow:hidden; }
.prof_detail_wrap .pf_body .section .info_pic ul li { float:left; width:24.3%; margin-right:10px; margin-bottom:10px;}
.prof_detail_wrap .pf_body .section .info_pic ul li:nth-child(4n) {margin-right:0px;}
.prof_detail_wrap .pf_body .section .info_pic ul li img { width:100%; }

.prof_detail_wrap .pf_img { border-bottom:1px solid #ccc; margin-bottom:40px; padding-bottom:30px;}
.prof_detail_wrap .pf_img .pf_tit { font-family:'NanumSquare'; font-size:20px; color:#000; font-weight:700; margin-bottom:10px; background:url(../images/contents/h3_bull.gif) 0 50% no-repeat;  padding-left:24px;}
.prof_detail_wrap .pf_img .info_pic ul {  overflow:hidden; }
.prof_detail_wrap .pf_img .info_pic ul li { float:left; width:24.3%; margin-right:10px; margin-bottom:10px;}
.prof_detail_wrap .pf_img .info_pic ul li:nth-child(4n) {margin-right:0px;}
.prof_detail_wrap .pf_img .info_pic ul li img { width:100%; }

.tbl_con2 { border-top:1px solid #888;  text-align:center; }
.tbl_con2 table thead tr th { padding:13px 0; border-bottom:1px solid #888; background:#eceef3; }
.tbl_con2 table tbody tr td { padding:13px 0; border-bottom:1px solid #888; }


/* 진승무역 - 전국 볼링장 */
.boling_map { margin-bottom:20px; width:40%; float:left; height:470px; box-sizing: border-box;  border:1px solid #ccc; }
.boling_map ul { position:relative;  height:100%; background: url(../images/contents/find_map.gif) 50% 50% no-repeat; background-size:300px; width:300px; margin:0 auto;}
.boling_map ul li a {position:absolute; display:inline-block; text-indent:-99999em; width:30px; height:30px;  z-index:100;}
.boling_map ul li a:active, .boling_map ul li a.on { background:url(../images/contents/map_on.png) 0 0 no-repeat; background-size:45px; width:45px; height:45px; margin-left:20px; margin-top:-20px;}
.boling_map ul li .map1 { left:65px; top:85px; }
.boling_map ul li .map2 { left:70px; top:120px; }
.boling_map ul li .map3 { left:130px; top:35px; }
.boling_map ul li .map4 { left:130px; top:280px; }
.boling_map ul li .map5 { left:180px; top:183px; }
.boling_map ul li .map6 { left:55px; top:305px; }
.boling_map ul li .map7 { left:160px; top:250px; }
.boling_map ul li .map8 { left:75px; top:200px; }
.boling_map ul li .map9 { left:200px; top:300px; }
.boling_map ul li .map10 { left:210px; top:270px; }
.boling_map ul li .map11{ left:30px; top:90px; }
.boling_map ul li .map12 { left:40px; top:340px; }
.boling_map ul li .map13 { left:70px; top:250px; }
.boling_map ul li .map14 { left:40px; top:180px; }
.boling_map ul li .map15 { left:110px; top:170px; }
.boling_map ul li .map16 { left:40px; top:420px; }
.tbl_rg { float:right; width:57%; }
.pagAlign { width:100%; display:table;}

/* 진승무역 - 찾아오시는 길 */
.directWrap .stripeBx {  margin-bottom:30px; overflow:hidden; }
.directWrap .stripeBx .boxInner{ overflow:hidden; }
.corpInfo { width:100%; overflow:hidden;}
.corpInfo p { background:none;}
.corpInfo p span{ background:url(../images/contents/direction_ico.gif) 0 -2px no-repeat; line-height:25px; height:25px; width:25px; display:inline-block;vertical-align: middle; margin-right:10px; }
.corpInfo strong { width:75px; display:inline-block;}
.corpInfo span.ic2 { background-position:-28px -2px;}
.corpInfo span.ic3 { background-position:-56px -2px;}
.directWrap .stripeBx .tabImg_wrap { width:48%; float:left; position:relative; }
.directWrap .stripeBx .tabImg_wrap .thum { width:140px; height:100px; overflow:hidden; margin-bottom:20px; opacity:.5; cursor:pointer; border:2px solid #ccc; box-sizing: border-box;}
.directWrap .stripeBx .tabImg_wrap .thum:nth-child(3n) { margin-bottom:0px; }
.directWrap .stripeBx .tabImg_wrap .thum.on, .directWrap .stripeBx .tabImg_wrap .thum:hover {opacity:1; border:2px solid #f24d06; box-sizing: border-box;}
.directWrap .stripeBx .tabImg_wrap .thum img { width:100%;}
.directWrap .stripeBx .tabImg_wrap .bigImg {position:absolute; top:0; left:150px; height:338px; overflow:hidden;}
.directWrap .map { float:left; margin-right:2%; width:600px!important; margin:0 2% 0 auto; }
.directWrap .map .wrap_controllers {width:600px!important; }
.directWrap .map_info {  margin-right:20px; margin-bottom:40px;}
.directWrap .map_info .trafficBx { float:left; width:39%; background:url(../images/contents/car.gif) 0 0 no-repeat; margin-bottom:20px; border-right:1px solid #ccc; padding:0 40px 20px 100px;}
.directWrap .map_info .trafficBx:last-child { margin-bottom:0px;}
.directWrap .map_info .trafficBx dl dt { font-weight:700; font-family:'NanumSquare'; font-size:18px; margin-bottom:10px; }
.directWrap .map_info .trafficBx dl dd ul li { background:url(../images/contents/direction_ico.gif) -85px 2px  no-repeat; padding-left:20px; margin-bottom:8px; line-height:1.2em;}
.directWrap .map_info .trafficBx dl dd ul li:last-child { margin-bottom:0px;}
.directWrap .map_info .bus { background:url(../images/contents/direction_ico.gif) -87px -35px no-repeat; margin-left:20px; border:0; padding:0 0 0 95px;}


/* 진승무역 - 연혁 */
.historyWrap { margin-bottom:40px;}
.historyWrap .imgBx { height:250px; width:100%; margin:0 auto; margin-bottom:30px; background:#fff;  border:1px solid #ccc; box-sizing: border-box; border-top:2px solid #555;}
.historyWrap .imgBx p { font-size:15px; color:#000;  padding-top:20px; text-align:center; width:90%; margin:0 auto;}
.historyWrap .imgBx .tit {font-family:'NanumSquare'; font-weight:600; font-size:20px;}
.historyWrap .imgBx .txt { line-height:1.4em;} 
.historyWrap .history_con .history ul { background:url(../images/contents/dot_gray.gif) 50% 0 repeat-y;}
.historyWrap .history_con .history ul li { overflow:hidden; background:url(../images/contents/history_year.gif) 50% 10px no-repeat; overflow:hidden;  }
.historyWrap .history_con .history ul li strong { font-size:40px; float:left; padding:0 40px 20px 0; color:#fe4d06; }
.historyWrap .history_con .history ul li:nth-child(odd) { padding-left:53%; text-align:left; }
.historyWrap .history_con .history ul li:nth-child(odd) dl { float:left; width:100%;}
.historyWrap .history_con .history ul li:nth-child(odd) dl dt { float:left; width:40px}
.historyWrap .history_con .history ul li:nth-child(even) { padding-right:49%; text-align:right;}
.historyWrap .history_con .history ul li:nth-child(even) dl { float:left; width:96%; }
.historyWrap .history_con .history ul li:nth-child(even) dl dt { float:right; margin-right:20px;}
.historyWrap .history_con .history ul li:nth-child(even) strong { float:right; }
.historyWrap .history_con .history ul li dl { overflow:hidden; margin-bottom:30px;}
.historyWrap .history_con .history ul li dl dt { color:#000; font-weight:600; font-size:20px; line-height:20px; }
.historyWrap .history_con .history ul li dl dd { line-height:1.5; float:left; width:90%; }


/* 진승무역 - 인사말 */
.greetingWrap { overflow:hidden; position:relative; }
.greetingWrap .imgBx {background:url(../images/contents/greeting_bg.jpg) right -295px no-repeat; height:13rem; width:100%; overflow:hidden; margin-bottom:30px; background-attachment:fixed; background-size:cover; }
.greetingWrap .imgBx .txt {color:#333; font-weight:700; font-size:15px; text-align:center; padding-top:30px;}
.greetingWrap .imgBx .txt p { width:39%; color:#000; font-weight:700;  line-height:1.4; margin:0 auto; text-align:center;}
.greetingWrap .imgBx .txt .bold { font-size:40px; font-weight:700; letter-spacing: 10px; margin-bottom:20px; width:100%;}
.greetingWrap .txtBx { margin-bottom:40px; width:97%; }
.greetingWrap .txtBx p { margin-bottom:30px; line-height:1.6em;}
.greetingWrap .txtBx p:last-child {margin-bottom:0;}
.greetingWrap .txtBx .tit { font-size:25px; font-weight:600; font-family:'NanumSquare';}
.greetingWrap .signBx { float:right; overflow:hidden; margin-bottom:40px;}
.greetingWrap .signBx span {text-align:right; float:left; margin-right:30px; font-weight:600;}
.greetingWrap .signBx img { float:right;}


/* 멤버쉽 - 로그인 */
.login_wrap .loginBx { background:url(../images/main/item_bg.gif); padding:5% 5% 3% 5%; overflow:hidden; margin-bottom:20px;}
.login_wrap .loginBx .loginImg { float:left;  background:url(../images/contents/loginBg.gif)0 0 no-repeat; width:50%; height:135px; display:inline-block; font-size:24px; text-align:center;  font-weight:600; font-family:'NanumSquare'; padding-top:65px; background-size:100%; }
.login_wrap .loginBx .loginImg strong { font-size:30px;}
.login_wrap .loginBx .loginWrite { overflow:hidden; width:50%; height:200px; background:#fff; position:relative; margin-bottom:20px; }
.login_wrap .loginBx .loginWrite .login { float:left; margin-right:20px; margin:50px 0 20px 50px;}
.login_wrap .loginBx .loginWrite .login p:first-child { margin-bottom:10px;}
.login_wrap .loginBx .loginWrite .login p label { margin-right:10px; width:60px; display:inline-block;}
.login_wrap .loginBx .loginWrite .login p > input { width:200px;}
.login_wrap .loginBx .loginWrite .btn { float:left; margin:50px 0 20px 10px; width:100px; height:74px; background:#f99; }
.login_wrap .loginBx .loginWrite .btn a { width:100%; height:100%; display:inline-block; line-height:74px; text-align:center; color:#fff; background:#fe4d06; font-weight:700; }
.login_wrap .loginBx .loginWrite .idsave { width:73%; overflow:hidden; margin-left:50px;}
.login_wrap .loginBx .loginWrite .idsave p { float:left;}
.login_wrap .loginBx .loginWrite .idsave p input { border:1px solid #ccc; vertical-align: middle;}
.login_wrap .loginBx .loginWrite .idsave .memeberlink {float:right; }
.login_wrap .loginBx .loginWrite .idsave .memeberlink span:first-child:after { content:'|'; padding:0px 10px; }
.litype1 p {background:url(../images/common/bbs_list.gif) 0 7px no-repeat; padding-left:13px; margin-bottom:10px;}
.litype1 p:last-child {margin-bottom:0px;}


/* 멤버쉽 - 회원가입 */
#member { margin-bottom:40px;}
#member .joinStep { overflow:hidden; width:720px; margin:0 auto; background:url(../images/contents/joinstep.gif) 0 50% repeat-x; margin-bottom:30px;}
#member .joinStep li { margin-right:50px;float:left; text-align:center; color:#aaa; font-weight:600; font-size:16px; width:130px; height:110px; border:6px solid #ccc; border-radius: 100px; padding-top:20px;background:#fff; }
#member .joinStep li:last-child { margin-right:0;}
#member .joinStep li strong {display:block; color:#000; font-family:'NanumSquare'; font-size:20px;}
#member .joinStep li span {background:url(../images/contents/join.gif) 0 0 no-repeat; display:inline-block; width:34px; height:40px; text-align:center; margin-top:5px}
#member .joinStep li:nth-child(1) span {background-position:0 0;}
#member .joinStep li:nth-child(2) span {background-position:-34px 0; width:37px;}
#member .joinStep li:nth-child(3) span {background-position:-78px 0;}
#member .joinStep li:nth-child(4) span {background-position:-114px 0; width:40px;}
#member .joinStep li.on { border:6px solid #ffbd3d;}
#member .joinStep li.on:nth-child(1) span {background-position:0 -43px;}
#member .joinStep li.on:nth-child(2) span {background-position:-34px -43px;}
#member .joinStep li.on:nth-child(3) span {background-position:-78px -43px;}
#member .joinStep li.on:nth-child(4) span {background-position:-114px -43px;}
#member h4.h4_tit {float:none!important; }
#member .basicBox {  border:1px solid #ccc; padding:2%; margin-bottom:20px;}
#member .basicBox .agree_wrap { margin-bottom:40px; overflow:hidden;}
#member .basicBox .agree_wrap:last-child {margin-bottom:0; }
#member .basicBox .agree_wrap .agree_text {background:#f8f8f8;  padding:2%;height:400px; overflow-y:scroll; font-size:14px; line-height:1.6; margin-bottom:20px;}
#member .basicBox .agree_wrap .agree_text strong { font-size:15px; color:#ff7d48; }
#member .basicBox .agree_wrap .agree_text table {}
#member .basicBox .agree_wrap .agree_text table th { border-top:2px solid #fc8656; background:#efefef; padding:5px 0; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc;}
#member .basicBox .agree_wrap .agree_text table td { padding:5px 0; border:1px solid #ccc; border-top:0;}
#member .basicBox .agree_wrap .agree_text a { color:#0657d8; text-decoration: underline;}
#member .basicBox .agree_wrap .agree_text .botTxt {text-align:center; background:#777; margin-top:10px;height:40px; line-height:40px; }
#member .basicBox .agree_wrap .agree_text .botTxt a { text-decoration: none;}
#member .basicBox .agree_wrap .agree_text .botTxt a span { color:#fff;}
#member .basicBox .agree_wrap .agree_q {float:right;}
#member .basicBox .agree_wrap .agree_q span { font-weight:600;float:left; margin-right:20px;}
#member .basicBox .agree_wrap .agree_q p {float:left; margin-right:10px;}
#member .basicBox .agree_wrap .agree_q p:last-child {margin-right:0px;}
#member .boardBtnex li {font-weight:600;}


/* 멤버쉽 - 회원가입 - 본인인증[step2] */
#member .basicBox .step2_wrap .member2 { text-align:center; font-size:20px; background:url(../images/contents/phone.png) 50% 80px no-repeat; padding-top:10px; margin-bottom:40px;}
#member .basicBox .step2_wrap .member2 p {margin-bottom:10px; font-family: 'NanumSquare';}
#member .basicBox .step2_wrap .member2 p strong {}
#member .basicBox .step2_wrap .member2 .membtn {margin-top:160px;}
#member .basicBox .step2_wrap .member2 .membtn a { text-align:center; display:inline-block; background:#fe4d06; color:#fff; width:300px; height:60px; line-height:60px; font-size:16px; font-weight:600; border-radius: 10px;}
#member .basicBox .step2_wrap .txtBx {}
#member .basicBox .step2_wrap .txtBx dl { margin-bottom:20px;}
#member .basicBox .step2_wrap .txtBx dl:last-child { margin-bottom:0px;}
#member .basicBox .step2_wrap .txtBx dl dt { font-weight:600; font-size:17px; margin-bottom:5px; background:url(../images/common/bbs_list.gif) 0 5px no-repeat; padding-left:13px;}
#member .basicBox .step2_wrap .txtBx dl dd {line-height:1.4em; margin-left:13px;}
#member .basicBox .step2_wrap .txtBx dl dd ul {}
#member .basicBox .step2_wrap .txtBx dl dd ul li{ margin-bottom:5px;}
#member .basicBox .step2_wrap .txtBx dl dd ul li:last-child { margin-bottom:0}
    
    
/* 멤버쉽 - 회원가입 - 회원가입정보 [step3] */
#member .step3_wrap .join_tbl { border-top:2px solid #000;}
#member .step3_wrap .join_tbl tbody tr { border-bottom:1px solid #ccc;}
#member .step3_wrap .join_tbl tbody tr th {  padding:15px 0; text-align:center; border-left:1px solid #ccc; border-right:1px solid #ccc; background:#f7f7f7;  }
#member .step3_wrap .join_tbl tbody tr td { padding:10px; border-right:1px solid #ccc;}
#member .step3_wrap .join_tbl tbody tr td input { padding:0;}
#member .step3_wrap .join_tbl tbody tr td input.w98p { margin-bottom:5px;}
#member .step3_wrap .join_tbl tbody tr td input[type="text"] { width:200px; height:35px; padding-left:5px;}
#member .step3_wrap .join_tbl tbody tr td input[type="password"] { width:200px;}
#member .step3_wrap .join_tbl tbody tr td.phone input { width:100px;}
#member .step3_wrap .join_tbl tbody tr td span { display:inline-block; color:#555; font-size:13px;}
#member .step3_wrap .join_tbl tbody tr td a { display:inline-block; background:#545454; color:#fff; padding:0px 10px; font-size:13px; height:36px; line-height:36px;}
#member .step3_wrap .join_tbl tbody tr td p { margin-bottom:10px;}
#member .step3_wrap .join_tbl tbody tr td p select { height:35px;}


/*  멤버쉽 - 회원가입 - 회원가입완료 [step4] */
#member .step4_wrap .join_end { text-align:center;  background:url(../images/contents/join_end.png) 50% 20px no-repeat; padding-top:160px; margin-bottom:40px; }
#member .step4_wrap .join_end p { font-size:22px; line-height:1.4em; font-family:'NanumSquare'; }
#member .step4_wrap .join_end p.sm_txt { font-size:18px; margin-bottom:20px;}
#member .step4_wrap .join_end p span { color:#ff8757; font-weight:600; }


/*  멤버쉽 - 아이디찾기 */
#member .find_id_wrap .findBx { overflow:hidden; clear:both; }
#member .find_id_wrap > .findBx > div { border:1px solid #ccc; width:49%; height:350px;  margin-right:2%; box-sizing: border-box;}
#member .find_id_wrap .findBx div .tit {width:100%; height:50px; text-align:center; background:url(../images/main/item_bg.gif); color:#000; font-weight:600; font-size:18px; font-family:'NanumSquare'; line-height:50px; }
#member .find_id_wrap .findBx div .find_txt { padding:4%;}

#member .find_id_wrap .findBx .f_phone { text-align:center; background:url(../images/contents/phone.png) 50% 80px no-repeat; background-size:100px;}
#member .find_id_wrap .findBx .f_phone .find_txt { padding-top:160px;}
#member .find_id_wrap .findBx .f_phone .find_txt p { margin-bottom:15px;}
#member .find_id_wrap .findBx .f_phone .find_txt a { text-align:center; display:inline-block; background:#fe4d06; color:#fff; width:200px; height:50px; line-height:50px; font-size:16px; font-weight:600; }
#member .find_id_wrap .findBx .f_email { margin-right:0;   background-size:114px; }
#member .find_id_wrap .findBx .f_email .find_txt { padding-top:40px;}
#member .find_id_wrap .findBx .f_email .find_txt div dl { overflow:hidden; width:82%; margin:0 10% 5px; }
#member .find_id_wrap .findBx .f_email .find_txt div dl dt { float:left; width:100px; font-size:15px;}
#member .find_id_wrap .findBx .f_email .find_txt div dl dd input[type="text"] { width:270px; }
#member .find_id_wrap .findBx .f_email .find_txt div dl.phone_input dd input[type="text"] { width:73px; }
#member .find_id_wrap .findBx .f_email .find_txt div dl.email_input dd input[type="text"] { width:154px; margin-right:5px; }
#member .find_id_wrap .findBx .f_email .find_txt .fd_btn { text-align:center; margin-top:30px;}
#member .find_id_wrap .findBx .f_email .find_txt .fd_btn a.btn_or { background:#fe4d06!important; }
#member .find_id_wrap .findBx .f_email .find_txt .fd_btn a { display:inline-block; background:#f24d06; color:#fff;  width:200px; height:40px; text-align:center; line-height:40px; font-weight:700; }


/*데이터없음 페이지*/
.noData { text-align:center; height:200px; line-height:200px; background:url(../images/contents/nodate.gif) center 20px no-repeat;  }
.noData p { color:#bebebe;  font-weight:700; padding-top:20px;}




